<div class="blog-info-title">
    <div class="flex gap-16 mb-20 align-items-center">
        <div class="user flex gap-10 align-items-center">
            <i class="ri-user-line"></i>
            <p class="info">By: Rehabaid Society</p>
        </div>
        <div class="donate flex gap-10 align-items-center">
            <i class="ri-chat-3-line"></i>
            <p class="info">Health</p>
        </div>
    </div>
    <h4 class="title">Stroke Rehabilitation Physiotherapy</h4>
    <p class="subtitle">The importance of physiotherapy in stroke rehabilitation
    </p>

    <p class="title">
        The brain has a self-remodeling feature called "neuroplasticity". Through various stimuli and training,
        "neuroplasticity" can help rebuild the damaged brain neurons' connection network, thereby restoring the stroke
        patient's activity ability. The first six months after a stroke are the golden period of rehabilitation, and
        physiotherapy plays an important role here. The training of physiotherapy helps stroke patients relearn to
        control their limbs and body, restore the patient's walking ability through the characteristics of
        "neuroplasticity". This improves their self-care ability and helps them reintegrate into daily social life.
    </p>
    <div class="divider"></div>
    <h4 class="title">Physiotherapy for Stroke Patients</h4>
    <p>Physiotherapists of this association will use different types of treatment techniques and instruments to help
        patients relearn to control their limbs, including but not limited to:</p>
    <br>
    <u>Walking training and gait correction</u>
    <br>
    <p>For many stroke patients, being able to walk safely and independently is their primary rehabilitation goal. Many
        patients have problems such as muscle weakness or muscle tone disorders after a stroke, leading to different
        abnormal gaits (outward circling gait, gluteus medius gait, ataxic gait, etc.), greatly increasing the risk of
        falls and self-confidence.</p>
    <br>
    <p>Physiotherapists will conduct various training for patients to correct their gait, such as:</p>
    <br>
    <ul>
        <li class="list">-Lower limb weight transfer training</li>
        <li class="list">-Practice of each walking stage</li>
        <li class="list">-Stair training</li>

    </ul>

</div>