$pink-color: #275672;
$purple-color: #ad4747;
$green-color: #335D2D;
$white-color: #ffffff;
$dark-color: #1d1d1d;
$bg-color: #252525;
$card-bg: #0e0e0e;

.switch-box {
    position: fixed;
    bottom: 15px;
    right: 120px;
    z-index: 9999;
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: transparent;
        border: 1.5px solid $pink-color;
        transition: 0.4s;
        &::before {
            position: absolute;
            content: "";
            height: 25px;
            width: 25px;
            left: 0px;
            bottom: 4px;
            top: 0;
            bottom: 0;
            margin: auto 0;
            transition: 0.4s;
            box-shadow: 0 0px 15px #2020203d;
            background: white url('../images/night.png');
            background-repeat: no-repeat;
            background-position: center;
        }
        &.round {
            border-radius: 34px;
            &::before {
                border-radius: 50%;
            }
        }
    }
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 30px;
        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
    input:checked + .slider {
        background-color: transparent;
        border: 1.5px solid $purple-color;
    }
      
    input:focus + .slider {
        box-shadow: 0 0 1px $pink-color;
    }
      
    input:checked + .slider:before {
        transform: translateX(24px);
        background: white url('../images/sunny.png');
        background-repeat: no-repeat;
        background-position: center;
    }
}

.theme-dark {
    h1, h2, h3, h4, h5, h6 {
        color: $white-color; 
    }
    h3, h4 {
        color: $white-color; 
        a {
            color: $white-color !important;
            transition: 0.7s;
            &:hover {
                color: $pink-color !important;
            }
        }
    }
    p {
        color: $white-color !important; 
    }
    body {
        background: $dark-color;
        color: $white-color; 
    }
    .form-group {
        label {
            color: $white-color;
        }
    }
    .form-control {
        background-color: $card-bg !important;
        color: $white-color !important;
    }
    .input-group {
        background-color: $card-bg !important;
    }
    .nice-select {
        background-color: $card-bg ;
    }
    .list {
        background-color: $card-bg ;
        .option {
            color: $white-color !important;
        }
    }
    .option {
        &.selected {
            color: $white-color;
            background-color: $pink-color;
        }
        &:hover {
            color: $white-color;
            background-color: $pink-color;
        }
        &.focus {
            color: $white-color;
            background-color: $pink-color;
        }
        &.selected {
            &.focus {
                color: $white-color;
                background-color: $pink-color;
            }
        }
    }
    .select-box {
        .nice-select {
            .list {
                background-color: $card-bg !important;
            }
        }
    }
    
    ul {
        li {
            color: $white-color !important;
        }
    }
    .header-area {
        background-color: $card-bg;
    }
    .main-nav {
        background-color: $bg-color;
        nav {
            .navbar-nav  {
                .nav-item {
                    a {
                        color: $white-color !important;
                        &.active {
                            color: $pink-color !important;
                        }
                        &:hover {
                            color: $pink-color !important;
                        }
                    }
                    .dropdown-menu {
                        background-color: $bg-color !important;
                        li {
                            a {
                                color: $white-color !important;
                                &.active {
                                    color: $pink-color !important;
                                }
                                &:hover {
                                    color: $pink-color !important;
                                }
                            }
                        }
                    }
                }   
            }
        }
    }
    .page-title-area {
        &::before {
            background-color: $card-bg;
        }
        .title-content {
            ul {
                li {
                    a {
                        &:hover {
                            color: #a3a3a3;
                        }
                    }
                }
            }
        }
    }
    .offer-area, .know-area {
        background-color: $bg-color;
    }
    .offer-area {
        &.two {
            background-color: #000000;
        }
    }
    .know-area {
        .know-content {
            ul {
                li {
                    background-color: $card-bg;
                }
            }
        }
    }
    .faq-item {
        .accordion {
            li {
                .faq-head {
                    color: $white-color;
                    background-color: $card-bg;
                    &::after {
                        color: $white-color;
                    }
                    &.active, &:hover {
                        background-color: $pink-color;
                    }
                }
                .faq-content {
                    background-color: $card-bg;
                }
            }
        }
    }
    .services-item {
        &::before {
            background-color: $card-bg;
        }
    }
    .blog-details-area {
        .details-text {
            blockquote {
                background-color: $bg-color;
            }
        }
        .details-tag {
            .right {
                ul {
                    li {
                        a {
                            background-color: $bg-color;
                            color: $white-color;
                            transition: 0.7s;
                            &:hover {
                                background-color: $pink-color;
                            }
                        }
                    }
                }
            }
        }
        .details-comment {
            ul {
                li {
                    a {
                        color: $white-color;
                        transition: 0.7s;
                        &:hover {
                            color: $pink-color;
                        }
                    }
                }
            }
        }
    }
    .widget-area {
        .articles {
            .inner {
                ul {
                    li {
                        a {
                            color: $white-color;
                            &:hover {
                                color: $pink-color;
                            }
                        }
                    }
                }
            }
        }
        .categories, .tags {
            ul {
                li {
                    a {
                        background-color: $bg-color;
                        color: $white-color;
                        transition: 0.7s;
                        &:hover {
                            background-color: $purple-color;
                        }
                    }
                }
            }
        }

    }
    .reviews-area {
        background-color: $bg-color;
        .review-content {
            background-color: $card-bg;
        }
    }
    .instagram-area {
        background-color: $bg-color;
    }
    .shop-page-area {
        .shop-result {
            .form-group {
                .btn {
                    color: $white-color;
                }
                .nice-select {
                    background-color: $card-bg;
                }
            }
        }
    }
    .cart-area {
        .table-item {
            .table thead th {
                color: $white-color;
            }
            .table tr td {
                color: $white-color;
            }
            a {
                color: $white-color;
                &:hover {
                    color: $purple-color;
                }
            }
        }
    }
    .checkout-area {
        .checkout-item {
            .checkout-payment {
                ul {
                    li {
                        .form-check-label {
                            color: $white-color;
                        }
                    }
                }
            }
        }
    }
    .footer-area {
        &::before {
            background-color: #000000;
        }
    }
    .copyright-area {
        background-color: $card-bg;
    }

    
}

