<div class="blog-info-title">
    <div class="flex gap-16 mb-20 align-items-center">
        <div class="user flex gap-10 align-items-center">
            <i class="ri-user-line"></i>
            <p class="info">By: pansci.asia</p>
        </div>
        <div class="donate flex gap-10 align-items-center">
            <i class="ri-chat-3-line"></i>
            <p class="info">Health</p>
        </div>
    </div>
    <h4 class="title">帕金森氏症有哪些症狀？如何能減緩病徵？</h4>
    <p class="subtitle">帕金森氏症（Parkinson’s
        disease，也作巴金森氏症）是神經系統受到漸進式地破壞而影響動作，通常症狀不會突然一夕間出現，而是慢慢影響生活，每個人表現的症狀或許有些不同。另一個有名的神經慢性退化疾病是「阿茲海默症」，但剛開始這兩個病的表現不太一樣，阿茲海默症剛開始認知方面的退化較明顯，而帕金森氏症則以身體動作的不協調為主。
    </p>
    <div class="divider"></div>
    <p class="title">手抖、碎步、肌肉僵硬－帕金森氏常見症狀</p>
    <ul>
        <li class="list">手抖（Tremor）: 手部抖動是帕金森氏症最常見的症狀，通常是在休息時出現，當手部處於靜止狀態時，手指或手掌會不自主地抖動，這種抖動通常是一邊開始，然後擴散到另一邊。</li>
        <li class="list">肌肉僵硬（Rigidity）: 肌肉僵硬是帕金森氏症的另一個常見症狀，肌肉僵硬會讓肌肉變得不靈活，讓動作變得緩慢，有時候會讓肌肉變得痛。</li>
        <li class="list">碎步（Bradykinesia）: 碎步是指動作變得緩慢，這是帕金森氏症的另一個常見症狀，患者可能會覺得走路變得困難，或是在做其他動作時感到緩慢。</li>

    </ul>
    <div class="divider"></div>
    <div class="quote-with-text">
        <div class="quote">
            <svg xmlns="http://www.w3.org/2000/svg" width="76" height="54" viewBox="0 0 76 54" fill="none">
                <path
                    d="M67.1429 32.4V30.4H65.1429H54.2857C49.3919 30.4 45.4286 26.4424 45.4286 21.6V10.8C45.4286 5.95763 49.3919 2 54.2857 2H65.1429C70.0366 2 74 5.95763 74 10.8V16.2V21.6V33.75C74 43.8236 65.7956 52 55.6429 52H54.2857C52.3776 52 50.8571 50.4724 50.8571 48.6C50.8571 46.7276 52.3776 45.2 54.2857 45.2H55.6429C61.9794 45.2 67.1429 40.0789 67.1429 33.75V32.4ZM23.7143 32.4V30.4H21.7143H10.8571C5.96336 30.4 2 26.4424 2 21.6V10.8C2 5.95763 5.96336 2 10.8571 2H21.7143C26.6081 2 30.5714 5.95763 30.5714 10.8V16.2V21.6V33.75C30.5714 43.8236 22.367 52 12.2143 52H10.8571C8.94907 52 7.42857 50.4724 7.42857 48.6C7.42857 46.7276 8.94907 45.2 10.8571 45.2H12.2143C18.5509 45.2 23.7143 40.0789 23.7143 33.75V32.4Z"
                    stroke="#090E0D" stroke-width="4" />
            </svg>
        </div>
        <h4 class="title">除了三個主要症狀外，帕金森氏症患者陸續會出現其他心理與身體的症狀，身體症狀像是：

            失去自發性動作，就像很少眨眼，臉部表情愈來愈少，走路的時候手臂不會自然跟著擺動這些。
            平衡變差，容易跌倒。
            神經異常感覺，像是容易有燒灼感、冰冷感、或感覺麻木。
            說話不清楚，開口前變得遲疑，說話聲音變得單調。
            寫字也變得困難，愈寫愈小。

        </h4>
    </div>
    <!-- <div class="d-flex gap-20">
        <div class="blog-multi-img">
            <img src="assets/images/gallery//blog-multi-1.png" alt="image">
        </div>
        <div class="blog-multi-img">
            <img src="assets/images/gallery//blog-multi-2.png" alt="image">
        </div>
    </div> -->
    <div class="donation-content">
        <h4 class="title">帕金森氏症患者的生活特色，像是：</h4>
        <p class="pera">憂鬱、焦慮，失去生活動機
            記憶力變差，在疾病的晚期開始有認知困難，難以好好思考評估，類似失智症的症狀。
            失眠，難以入睡又容易醒來
            吞嚥困難，容易流出口水
            腸胃道活動變慢，便祕的機會變多。
            容易覺得累，很多地方都在痛。</p>
        <!-- <ul class="bullet-list">
            <li class="list">This is a personal decision that requires careful consideration.</li>
            <li class="list">help save lives, while others may donate their body to medical research or
                education.</li>
            <li class="list">it's important to discuss your wishes with your family</li>
        </ul> -->
        <h4 class="title">天生基因還是外在影響？帕金森氏成因是什麼？</h4>
        <p class="subtitle">
            那為什麼會有帕金森氏症呢？我們先來了解一個叫做「黑質」的區塊。黑質位於中腦，裡面具有多巴胺神經元，負責生產多巴胺到腦部其他區域，多巴胺像是腦部神經系統之間的信差，可以在協調各種運動訊息的調節。帕金森氏症患者腦部黑質的多巴胺神經細胞受到破壞或死亡，數目減少，能協調動作訊息的多巴胺就變少，因此動作變慢，變得不協調，而產生運動障礙。

            這些神經元的死亡不是一夕之間產生的，而且要到喪失將近八成神經元以後，患者才會開始產生症狀，因此帕金森氏症的症狀通常是緩慢漸進式地發生。</p>
        <p>那大家會想知道的關鍵點，究竟是什麼原因誘發了多巴胺神經元死亡呢？目前還沒有確切的說法，但科學家認為帕金森氏症是受到環境與基因共同影響，所以有少數患者有家族基因突變的遺傳史，有些患者則是經常暴露於除草劑、殺蟲劑等化學物質。然而這些說法還沒有獲得廣泛的共識。
        </p>
        <p>多數帕金森氏症患者在50歲以後發作，平均年齡是60歲，40歲以前發病的稱為早發型帕金森氏症，例如電影《愛情藥不藥》裡安海瑟威飾演的女主角那樣，是極少見的案例。另外，男性比女性患病的機會稍高了一點。帕金森氏症雖然不是像癌症侵襲一般會直接取人性命，但如果因為帕金森氏症影響動作後，各種活動多所限制，肺炎與其他感染的機會上升，而且患者在疾病晚期連簡簡單單過生活都很難，通常需要旁人幫忙打理日常起居。
        </p>
        <div class="divider"></div>
    </div>
</div>