<div class="blog-info-title">
    <div class="flex gap-16 mb-20 align-items-center">
        <div class="user flex gap-10 align-items-center">
            <i class="ri-user-line"></i>
            <p class="info">By: Rehabaid Society</p>
        </div>
        <div class="donate flex gap-10 align-items-center">
            <i class="ri-chat-3-line"></i>
            <p class="info">Health</p>
        </div>
    </div>
    <h4 class="title">中風復康物理治療</h4>
    <p class="subtitle">物理治療對中風復康的重要性
    </p>

    <p class="title">
        大腦有一個自我重塑的特點，這稱為「神經可塑性」（neuroplasticity）。透過各種刺激和訓練，「神經可塑性」能協助重建受損大腦神經元的聯繫網絡，從而恢復中風病人的活動能力。中風後的首六個月是復康的黃金時期，而物理治療在此擔當重要角色。物理治療的訓練透過「神經可塑性」的特性，幫助中風病人重新學習控制四肢和身軀，回復病人的步行能力。從而提高他們的自理能力，協助他們重投日常社交生活。
    </p>
    <div class="divider"></div>
    <h4 class="title">給中風人仕的物理治療</h4>
    <p>本協會物理治療師會運用不同類型的治療手法和儀器，協助病人重新學習控制四肢，其中包括但不限於：</p>
    <br>
    <u>步行訓練和步姿糾正</u>
    <br>
    <p>對很多中風患者而言，能安全且獨立步行是他們的首要復康目標。不少患者中風後，會有肌力不足或肌張力障礙等問題，導致不同的不良步姿(向外繞圈式步態、臀中肌步態、共濟失調步態等)，大大增加跌倒風險和自信。</p>
    <br>
    <p>物理治療師會為病人進行各種訓練以糾正步姿，例如：</p>
    <br>
    <ul>
        <li class="list">-下肢重心轉移訓練</li>
        <li class="list">-各個步行階段的練習</li>
        <li class="list">-樓梯訓練</li>

    </ul>

    <!-- <div class="d-flex gap-20">
        <div class="blog-multi-img">
            <img src="assets/images/gallery//blog-multi-1.png" alt="image">
        </div>
        <div class="blog-multi-img">
            <img src="assets/images/gallery//blog-multi-2.png" alt="image">
        </div>
    </div> -->

</div>