<div class="blog-info-title">
    <div class="flex gap-16 mb-20 align-items-center">
        <div class="user flex gap-10 align-items-center">
            <i class="ri-user-line"></i>
            <p class="info">By: 華人社區健康資源中心</p>
        </div>
        <div class="donate flex gap-10 align-items-center">
            <i class="ri-chat-3-line"></i>
            <p class="info">Health</p>
        </div>
    </div>
    <h4 class="title">預防中風文章</h4>
    <p class="subtitle">中風、俗稱 “爆血管”或 “腦栓塞”，在美國是構成生命威脅的第五號殺手，又是造成身體殘障其中的首要原因。中風致使大腦受到終身的損傷，而且對生還者的身體機能以及心理均帶來頗大的影響。
    </p>
    <div class="divider"></div>
    <p class="subtitle">甚麼是中風？</p>
    <p class="subtitle">
        中風是由於大腦血管破裂或堵塞而引起。血液輸送氧氣及營養至腦部，若腦部的血液突然中斷，腦細胞便會在幾分鐘之內死亡。中風後遺症神經性機能障礙，如言語，視力及行動障礙等。嚴重的中風會導致肢體癱瘓及昏迷，甚至有生命危險。</p>
    <div class="divider"></div>
    <div class="quote-with-text">
        <div class="quote">
            <svg xmlns="http://www.w3.org/2000/svg" width="76" height="54" viewBox="0 0 76 54" fill="none">
                <path
                    d="M67.1429 32.4V30.4H65.1429H54.2857C49.3919 30.4 45.4286 26.4424 45.4286 21.6V10.8C45.4286 5.95763 49.3919 2 54.2857 2H65.1429C70.0366 2 74 5.95763 74 10.8V16.2V21.6V33.75C74 43.8236 65.7956 52 55.6429 52H54.2857C52.3776 52 50.8571 50.4724 50.8571 48.6C50.8571 46.7276 52.3776 45.2 54.2857 45.2H55.6429C61.9794 45.2 67.1429 40.0789 67.1429 33.75V32.4ZM23.7143 32.4V30.4H21.7143H10.8571C5.96336 30.4 2 26.4424 2 21.6V10.8C2 5.95763 5.96336 2 10.8571 2H21.7143C26.6081 2 30.5714 5.95763 30.5714 10.8V16.2V21.6V33.75C30.5714 43.8236 22.367 52 12.2143 52H10.8571C8.94907 52 7.42857 50.4724 7.42857 48.6C7.42857 46.7276 8.94907 45.2 10.8571 45.2H12.2143C18.5509 45.2 23.7143 40.0789 23.7143 33.75V32.4Z"
                    stroke="#090E0D" stroke-width="4" />
            </svg>
        </div>
        <h4 class="title">中風的類型

            缺血性中風 – 此類中風是由於腦血管突然被血塊堵塞，血液不能輸送至大腦所致。血凝塊之形成，多數情況下是由於一種稱為動脈硬化的病症。患有此病症，血管的管腔會變窄，形成一些脂肪質的血塊。百份之八十以上的中風均屬於此類型。



            出血性中風 – 通常較缺血性中風來得嚴重。原因是腦血管突然破裂出血。此類中風通常是由於高血壓或動脈瘤（Aneurysm）造成。動脈瘤是指動脈血管形成像氣球般腫脹的囊，使血管薄弱及擴張而引起破裂。

        </h4>
    </div>

    <div class="donation-content">
        <h4 class="title">中風的警告訊號 </h4>

        <ul class="bullet-list">
            <li class="list">突然手，腳或面部感覺軟弱，麻痺或失去知覺，特別是發生在身體的某一側。</li>
            <li class="list">突然說話不清楚或言語困難，或難以理解別人說話。</li>
            <li class="list">一隻眼或雙眼感到視力模糊或重影。</li>
            <li class="list">突然發生不明原因嚴重昏眩，步履不穩，失去平衡或動作失調。</li>
            <li class="list">突然發生異常頭痛。</li>
        </ul>
        <p>有時、在發生嚴重中風之前的數天，數周或數月內，會有輕微中風或一種稱之為突發性瞬間腦缺血 (transient ischemic attack, 簡稱TIA)
            的症狀。此種症狀只在幾分鐘內便回復正常。切勿輕視這些警告訊號。應馬上看醫生診治以避免生命危險或癱瘓。</p>
        <h4 class="title">中風的診斷</h4>
        <p class="subtitle">
            誘發中風的危險因素
        </p>
        <p>年齡 – 罹患中風的病人之中有三分之二年過65歲。
            性別 – 女人較之男人更易發生中風症。
            種族 – 非白種人較之白種人更多患中風。
            曾患過中風或心臟病突發的病人。
            吸煙者
            血壓高患者
            肥胖者
            遺傳因素
            糖尿病
            高膽固醇
            心房纖維顫動症 (Atrial Fibrillation) 一種心跳過速及不規則的心臟病。此病增加在心臟裡形成血凝塊的可能性。
            頸動脈血管病 (Carotid Artery Disease) – 頸內主要動脈狹窄，影響血液流通，形成血凝塊。
            酗酒者
        </p>
        <div class="divider"></div>
        <p class="subtitle">
            中風的預防
        </p>
        <p>控制高血壓，將血壓保持在120/80以下。
            控制糖尿病
            減低“壞”膽固醇指數。對患過心臟病或心臟病突發的人，考慮服用降膽固醇藥。
            戒煙
            不要濫用藥物
            控制體重
            控制壓力
            經常運動
            遵從低脂肪，低鹽份的飲食規則，多吃水果及蔬菜。
            勿過量飲酒，每日不超過二份量。（一份量相等於12安士啤酒或5安士葡萄酒或5安士烈酒）
            服食處方藥物以治療心房纖維顫動症。普通的處方藥物是抗凝劑及稀釋血液藥物。
            考慮施行以下手術:
            頸動脈內膜切除手術 (Carotid Endarterectomy) – 將頸動脈內的斑塊切除
            血管成形術及支架 (Angioplasty and Stent) – 將狹窄的頸動脈血管擴大此類手術對血管嚴重堵塞的病人可能有利</p>

        <div class="divider"></div>
        <p class="subtitle">
            中風的治療
        </p>
        <p>
            對缺血性中風的病人使用組織血漿促動劑，(Tissue Plasminogen Activator)
            一種通血栓藥，在中風後三小時內使用可大大改善預後情況。但此種治療只可在擁有神經外科手術設施的醫院內提供。對出血性中風的病人而言，施行緊急腦手術有時可能會使出血停止。急症治療措施也許會包括使用阿司匹林
            (aspirin)。
        </p>
    </div>
</div>