

        <!-- Error -->
        <div class="error-area">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">

                        <div class="error-content">
                            <i class='bx bxs-sad bx-flashing'></i>
                            <h1>Sorry!</h1>
                            <h2>Here Is Some Problem</h2>
                            <p>The page you are looking for it maybe deleted</p>
                            <a class="common-btn two" href="/">Go To Home</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- End Error -->

        <!-- Go Top -->
        <div class="go-top">
            <i class='bx bxs-up-arrow-alt'></i>
            <i class='bx bxs-up-arrow-alt'></i>
        </div>
        <!-- End Go Top -->

